---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import config from '../content/config/config.json';
import client from '../../tina/__generated__/client.ts';
import HomePage from "../../tina/pages/HomePage.tsx";
import { getCollection } from 'astro:content';
import Map from '../components/Map.astro';
import type { Agenda } from '../../tina/__generated__/types';
const data = await client.queries.page({relativePath: "home.mdx"});
const [ currentEvents, futureEvents ] = await Promise.all([
	getCollection('currentEvents'),
	getCollection('futureEvents')
]);
const events = [...currentEvents, ...futureEvents] as unknown as {
		id: string;
		data: Agenda;
	}[];

---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={config.seo.title} description={config.seo.description} />
	</head>
	<body class="font-sans text-gray-800 bg-gray-50 flex flex-col">
		<Header />
			<HomePage {...data} events={events} client:tina />
			<Map />
		<Footer />
	</body>
</html>
