---
import { BsRssFill } from "react-icons/bs";


---

<footer role="contentinfo" class="bg-white shadow-sm">
	<div class="flex flex wrap justify-between mx-auto px-6 max-w-7xl">
		<a
			href="/"
			class="group mx-2 font-bold tracking-tight text-gray-400 opacity-50 hover:opacity-100 transition duration-150 ease-out whitespace-nowrap"
		>
			<img
				loading="lazy"
				src="/logo.png"
				width={80}
				height={80}
				alt=""
			/>
		</a>
		<a class="flex gap-2 items-center" href="/rss.xml">
			<BsRssFill aria-hidden />
			S'abonner au flux RSS des actualités du quartier
		</a>
	</div>
</footer>
